* {
  margin: 0;
  padding: 0;
}

html, body {
  /*background-image: url(/images/backgroundd.jpg);*/
  background-size: 100% 200%;
  height: 100%;
}

.form-group {
  width: 29%;
  font-size: 30px;
  margin-left: 20%;
}

.button {
  width: 150px;
  margin-left: 60%;
  position: absolute;
  top: 440px; 
}

#title h1 {
  color: white; 
  font-size: 70px;
  font-family: "impact";
  margin-left: 20%;
}

#map {
  height: 100%;
}